parameters:
    database_driver1: pdo_mysql
    database_host1: 127.0.0.1
    database_port1: null
    database_name1: demo
    database_user1: admin1   
    database_password1: admin1   
    
    database_driver2: pdo_mysql
    database_host2: 127.0.0.1
    database_port2: null
    database_name2: user
    database_user2: admin2
    database_password2: admin2 

    
    mailer_transport: smtp
    mailer_host: mail.ville-voreppe.fr
    mailer_port: 25
    mailer_user: communication@ville-voreppe.fr
    mailer_password: dr78lr8
    locale: fr
    secret: jdfuioheqfhduiqhdiozajjqsiovc
    debug_toolbar: true
    debug_redirects: false
    use_assetic_controller: true