{# empty Twig template #}
{% extends "::base.html.twig" %}
{% block title %}Blog{% endblock %}


{% block contenu %}
    <div class="container base">
        <div class="row">
            <div class="cols-xs-12">
                <h3 class="text-center">Le blog</h3>
            </div>
        </div>
        <div id="menu" class="row">   
            <div class="col-xs-6 text-center">
                <a href="{{ path('florian_blog_accueil') }}" class="btn btn-default btn-xl">Accueil du blog</a>
            </div> 
            <div class="col-xs-6 text-center">
                <a href="{{ path('florian_blog_ajouter') }}" class="btn btn-default btn-xl">Ajouter un article</a>
            </div> 
        </div>   
        <div id="corps_blog">
            {% block corps_blog %}
            {% endblock corps_blog %}
        </div>
    </div>   
{% endblock contenu %}