{# src/florian/BlogBundle/Resources/views/Blog/voir.html.twig #}
{% extends "florianBlogBundle::layout.html.twig"%}

{% block title %}Lecture d'un article{% endblock %}

{% block corps_blog %}
      {# On affiche tous les messages flash dont le nom est « info » #}
        
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">x</span></button>
            {{ message }}
        </div>
    {% endfor %}
    {# J'inclus ici mes flash-bag à l'ajout, à la modification de l'article   #}
    {# Rappel : la boucle for vérifie si notre collection est vide ou non, le else n'est alors pas obligatoire #}
    {% for messageAjout in app.session.flashbag.get('AjoutRealise') %}
       <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">x</span></button>
            {{ messageAjout }}
        </div>
    {% endfor %}

    {% for messageModification in app.session.flashbag.get('ModificationRéalise') %}
         <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">x</span></button>
            {{ messageModification }}
        </div>
    {% endfor %}   
    {#-----------------#}
    {# J'inclus mon article ici #}
    {#-----------------#}
     {% include 'florianBlogBundle:Blog:article.html.twig'  %}

{% endblock corps_blog %}